<!DOCTYPE html>
<html>
<head>
	<title>Node.js</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/assets/app.css">
</head>
<body>
	<p>Bem vindo ao sistema <%= nome + ' ' + sobrenome %>
		
	</p>
</body>
</html>